.container7 {
  position: relative;
  width: 100vw;
  height: 40vw;
  overflow: hidden;
  background-color: lightgray;
}
.squareoverlay {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(11, 11, 31, 1));
  height: 40vw;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
.image {
  width: 100vw;
  height: 40vw;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background: #0b0b1f;
  overflow-x: hidden;
}
.container {
  margin: auto;
  margin-top: 0;
  padding-top: 0;
}

#navbar ul {
  display: flex;
  flex-direction: row;
}
#navbar ul li {
  align-self: top;
}
#navbar {
  background: #1c1a3f;
  position: sticky;
  top: 0;
  height: 5vw;
  z-index: 1000;
}
#navbar .container {
  margin-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0;
}
#navbar .container ul {
  display: flex;
  padding: 0;
  flex-direction: row;
  white-space: nowrap;
  margin: 0;
}
#navbar .container ul li {
  list-style: none;
  display: flex;
}
#navbar .container ul li a {
  text-decoration: none;
  color: #ded2e6;
  margin-top: 0;
  font-family: "Anta", sans-serif;
}
#navbar .container ul li a:hover {
  color: rgba(242, 248, 244, 0.1);
  font-weight: bold;
  -webkit-text-stroke: 0.01vw #f4f4ff;
  background-color: #a78bfa;
  margin-top: 0;
  height: 2.5vw;
}
.active {
  color: #f4f4ff !important;
  font-weight: bold !important;
  background-color: #a78bfa !important;
  height: 2.5vw !important;
  -webkit-text-stroke: 0px !important;
  border-bottom: 0.55vw solid #f4f4ff !important;
}
#navbar ul li a {
  font-size: 2.5vw;
  padding: 1vw 1vw !important;
  display: flex;
  flex-direction: row !important;
}

.container2 {
  margin-top: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
    margin-bottom: 25vw;
}

.text1 {
  font-size: 3vw;
  color: #a78bfa;
  font-weight: 1000;
}
.text2 {
  font-size: 2vw;
  color: #f4f4ff;
  -webkit-text-stroke: 0.07vw #f4f4ff !important;
}


.text5 {
  font-size: 5vw;
  color: #a78bfa;
  font-weight: 1000;
  text-align: center;
  font-family: "Anta", sans-serif;
}

.slider {
  width: 90vw;
  overflow: hidden;
  position: relative;
  border-radius: 2vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.slide-track:hover {
  animation-play-state: paused;
}

.slide-track {
  display: flex;
  width: 300vw;
  animation: scroll 33s linear infinite;
}
.slide {
  width: 30vw;
  flex-shrink: 0;
  padding: 2vw;
}
.slide img {
  width: 100%;
  border-radius: 2vw;
  object-fit: cover;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-56.7%);
  }
}
.anta-regular {
  font-family: "Anta", sans-serif;
}


.photo2 {
  width: 48vw;
  height: 48vw;
}
.container9 {
  margin-left: 65vw;
  margin-top: -19vw;
    margin-bottom: 15vw;

}

.header_text {
  color: #f4f4ff;
  margin-top: 8vw;
  font-size: 8vw;
  -webkit-text-stroke: 0.5vw #a78bfa;
  text-align: center;

}
.climate-crisis {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "YEAR" 1979;
}


.container2 {
  margin: 5vw;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3vw;
  flex-wrap: nowrap; /* prevents stacking */
}

.photo {
  width: 28vw;
  height: 22vw;
  border-radius: 3vw;
  border: 0.5vw solid #a78bfa;
  object-fit: cover;
  flex-shrink: 0;
}
.text-block {
  flex: 1;
  min-width: 0;
}
.section-title {
  font-size: 3.6vw;
  color: #a78bfa;
  margin: 0 0 1vw 0;
  font-family: "Anta", sans-serif;

}
.section-text {
  font-size: 2vw;
  margin-top: -.5vw;
  line-height: 2.4vw;
  color: #f4f4ff;
    font-family: "Anta", sans-serif;
  
}

.text-block2 {
  text-align: right;
}


    .content-section-2 {
        display: flex; 
        justify-content: center; 
        align-items: center;
    }

    .content-section {
        max-width: 100%;
        margin: 0 auto;
    }
.row.reverse{
  flex-direction: row-reverse;
}

.footer {
  background-color: #1c1a3f;
  padding: 5vw 5vw 8vw 5vw;
  color: #f4f4ff;
  font-family: "Anta", sans-serif;
  margin-top: 10vw;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-title {
  font-size: 4vw;
  color: #a78bfa;
  margin-bottom: 1vw;
}

.footer-text {
  font-size: 2vw;
  margin-bottom: 2vw;
}

.subscription-form {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: center;
  flex-wrap: wrap;
}

.subscription-form input[type="email"] {
  padding: 1vw;
  border-radius: 0.8vw;
  border: none;
  font-size: 1.8vw;
  width: 50vw;
  max-width: 60vw;
  outline: none;
}

.subscription-form button {
  padding: 1vw 2vw;
  border-radius: 0.8vw;
  border: none;
  background-color: #a78bfa;
  color: #0b0b1f;
  font-weight: bold;
  font-size: 1.8vw;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subscription-form button:hover {
  background-color: #8b65e4;
}

.footer-links {
  margin-top: 3vw;
  font-size: 1.6vw;
  color: #ded2e6;
}

.footer-links a {
  color: #ded2e6;
  text-decoration: none;
  margin: 0 1vw;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #a78bfa;
}

 .safari-fix {
      margin-bottom: 12vh;
  background-color: #1c1a3f;
}
